<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\Albert\AppData\Local\Temp\libhello.dll3759443716920680007" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>