<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\Albert\AppData\Local\Temp\libhello.dll5443269923476881845" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>